*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-image: url(./van-tay-media-TOBRTuE_uXA-unsplash.jpg);
    background-size: cover;
    height: 100vh;

}
.parent {

    background-color: #317bd5b4;
    background-size: cover;
    height: 100vh;
   
}

.first{
    height: 20px;
}

.header a{

    color: white;
}


a{
    text-decoration: none;
}




.navbar-brand,
.nav-link{

    color: white;
}

.navbar{
    z-index: 99;
    top:10%;
    
}

.navbar-scrolled {
    top:0px !important;
    background-color: black;
}




.hero{
    color: white;
    margin-top:15%;
   
}

.btn{
    background-color: #00aeff;
    color: white;
    border-color:#00aeff ;
    border-radius: 15px;
} 

.one .card-body{
    background-color: #f3f7fd;
}
.card-inbody{
    margin-left: 20px;
}

.card-inbody a{
    color: black;
}

.rounded-4{
    width: 3em;
    height: 3em;
    background-color: white;
    
}
.Browse svg {
    width: 4vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Browsee .rounded-5{
    width: 4em;
    height: 4em;
    border: 3px solid rgb(174, 173, 173);
    
}
.Browsee svg {
    width: 4vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.two{
    
    background-color:#f8f9fa;
    margin: 5% 0 1% ;
}

.twoo{
    width: 18vw;
}

.two .card-title{
    width: 30vw;
}

ul{
    list-style: none;
}
.two .card-img-top {
    position: relative;
    z-index: 1;
    bottom: 20%;
    left: 40%;
    border-radius: 10%;
}


.pp{
    width: 40vw;
}

.four, .seven, .nine{
    background-color:#f8f9fa;
}

.four .card{
    margin: 0 10%;
}


.right-icons{
    color:rgb(159, 130, 2);
}

.five{
    background-image: url(./van-tay-media-TOBRTuE_uXA-unsplash.jpg);
    background-size: cover;
    height: 100vh;
}

.five .containr {
    background-color: #317bd5b4;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
}

.phrases {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      
}

.phrases p {
    width: 36vw;
}

.six{
    margin: 5% 0 1% ;
}




.learn{
    background-color: white;
    color: #00aeff;
}


 .z{
    width: 40%;
    box-shadow: 65px -34px lightblue;

}



.cards {
    gap: 1%;
    
}

.school{
    width: 32vw;
 
}



.h2{
    width: 17vw;
}

.seven .img-fluid {
    height: 100%;
}
.carousel-indicators button{
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    color: #00aeff !important;
    background-color: #00aeff !important;
}

.d-block{
    width: 6vw !important;
    height:6vw;
    border-radius: 50%;
    margin: 50px auto;
}


.eight .btn{
    background-color: white;
    color: blue;
}



.nine p{
    width: 50vw;
}


.ten .cdc{
    width: 7vw;
    height: 10vh;
}
.img{
    width: 30vw;
}
.accordion-body{
    width: 25vw;
}


.accordion-button::after{

    background-image: url(./png-transparent-computer-icons-plus-and-minus-signs-symbol-plus-miscellaneous-cross-sign-thumbnail.png);
}


.accordion-button:not(.collapsed)::after{

    background-image: url(./pngtree-vector-minus-icon-png-image_925716.png);
}



.accordion-item{
    border: none;
}

.ten strong{
    width:100%;
}




.eleven .p{
    width: 32vw;
}



.aboutus{
    width: 20vw;
}

.child {
    margin-right: 3%;
    background-color: white;
    border-radius: 50%;
    
}

.images img{
    width: 3vw;
}

